
# Secrets
ACCESS_TOKEN_LIFETIME=1
SECRET_KEY='django-insecure-<top-secret-symbols>'

# Domain
CITE_DOMAIN=hr-practicum.domain.com
CITE_IP=11.111.111.111

# Frontend Vite
VITE_API_URL=hr-practicum.domain.com/api/v1

# Database settings
DB_ENGINE=django.db.backends.postgresql
POSTGRES_USER=hakaton_user
POSTGRES_PASSWORD=hakaton_password
DB_HOST=hr_practicum_database
DB_PORT=5432
POSTGRES_DB=hakaton_database

# Email SMTP-server settings
### SMTP-server host
EMAIL_HOST=host.mail.com
### SMTP-server port
EMAIL_PORT=123
### SMTP-server username
EMAIL_HOST_USER=user@mail.com
### SMTP-server password
EMAIL_HOST_PASSWORD=password
### True: use TLS connection (safe) with SMTP-server
EMAIL_USE_TLS=True
### True: use SSL connection (protected) with SMTP-server
EMAIL_USE_SSL=False
### If EMAIL_USE_TLS or EMAIL_USE_SSL: optionaly provide a path to sertificates PEM file
EMAIL_SSL_CERTFILE=None
### If EMAIL_USE_TLS or EMAIL_USE_SSL: optionaly provide a path to secret code PEM file
EMAIL_SSL_KEYFILE=ssl_keyfile
### Operation block timeout (sec)
EMAIL_TIMEOUT=60
